.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .half-width {
    max-width: 100%;
  }
}

@media only screen and (min-width: 850px) {
  .half-width {
    width: 50%;
  }
}

.margin-bottom{
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.button-container > button:last-child {
  margin-left: 10px;
}
