<div class="title_bar">
  <h2>Server</h2>
</div>

<div class="content" *ngIf="serverInfo$ | async as serverInfo">
  <div class="server-flexcontainer">
    <div class="server-flex-row">
      <div class="server-left-logo">
        <img src="../../assets/images/emby.png" />
      </div>
      <div class="server-right-content">
        <h3>{{serverInfo.serverName}}</h3>
        <div class="server-flex-row">
          <div class="server-left-content">Version: </div>
          <div>{{serverInfo.version}} - {{serverInfo.systemUpdateLevel}}</div>
        </div>
        <div class="server-flex-row">
          <div class="server-left-content">Local Address: </div>
          <div>{{serverInfo.localAddress}} <a mat-raised-button class="mat-small" color="primary" target="_blank" href="{{serverInfo.localAddress}}">Open</a></div>
        </div>
        <div class="server-flex-row">
          <div class="server-left-content">WAN Address: </div>
          <div>{{serverInfo.wanAddress}} <a mat-raised-button class="mat-small" color="primary" target="_blank" href="{{serverInfo.wanAddress}}">Open</a></div>
        </div>
        <div class="server-flex-row">
          <div class="server-left-content">Host OS: </div>
          <div>{{serverInfo.operatingSystem}} {{serverInfo.systemArchitecture}}</div>
        </div>
      </div>
    </div>
  </div>


  <!--<h3>Paths</h3>
  programDataPath: {{serverInfo.programDataPath}}<br />
  itemsByNamePath: {{serverInfo.itemsByNamePath}}<br />
  cachePath: {{serverInfo.cachePath}}<br />
  logPath: {{serverInfo.logPath}}<br />
  internalMetadataPath: {{serverInfo.internalMetadataPath}}<br />
  transcodingTempPath: {{serverInfo.transcodingTempPath}}<br /><br /><br /><br />
  httpServerPortNumber: {{serverInfo.httpServerPortNumber}}<br />
  httpsPortNumber: {{serverInfo.httpsPortNumber}}<br />
  encoderLocationType: {{serverInfo.encoderLocationType}}<br />


  operatingSystemDisplayName: {{serverInfo.operatingSystemDisplayName}}<br />
  webSocketPortNumber: {{serverInfo.webSocketPortNumber}}<br />
  <br /><br />

  hasPendingRestart: {{serverInfo.hasPendingRestart}}<br />
  supportsLibraryMonitor: {{serverInfo.supportsLibraryMonitor}}<br />
  canSelfRestart: {{serverInfo.canSelfRestart}}<br />
  canSelfUpdate: {{serverInfo.canSelfUpdate}}<br />
  canLaunchWebBrowser: {{serverInfo.canLaunchWebBrowser}}<br />
  supportsHttps: {{serverInfo.supportsHttps}}<br />
  hasUpdateAvailable: {{serverInfo.hasUpdateAvailable}}<br />
  supportsAutoRunAtStartup: {{serverInfo.supportsAutoRunAtStartup}}<br />

  drives: <span *ngFor="let drive of serverInfo.drives">{{drive.name}} - {{drive.path}} - {{drive.type}}, </span><br />-->
</div>
