<div *ngIf="user$ | async as user">
  <div class="title-bar title-bar-flex-row">
    <div class="title-bar-left-content">
      <h2>{{ 'USERS.DETAILS.TITLE' | translate: { name: user.name } }}</h2>
    </div>
  </div>
  <div class="content">
    <mat-card class="white">
      <mat-card-content>
        <div class="card-flex-row">
          <div>
            <img class="profile" *ngIf="user.primaryImageTag !== ''; else noImage" src="{{getEmbyAddress()}}/emby/users/{{user.id}}/images/primary?width=100&tag={{user.primaryImageTag}}&quality=90" />
            <ng-template #noImage>
              <img class="profile" src="../../../../assets/images/no-profile.png" />
            </ng-template>
          </div>
          <div class="card-flex-column card-margin">
            <div class="name">{{user.name}}</div>
            <div *ngIf="user.lastActivityDate">{{ 'USERS.LASTACTIVE' | translate }}: {{user.lastActivityDate | amLocal | amDateFormat:'DD/MM/YY HH:mm'}}</div>
            <div *ngIf="user.lastActivityDate == undefined">{{ 'USERS.LASTACTIVE' | translate }}: {{ 'COMMON.NEVER' | translate }}</div>
            <div class="icon-container">
              <fa-icon class="fa-lg" *ngIf="user.isAdministrator" icon="user-tie" matTooltip="{{ 'USERS.ISADMIN' | translate }}" position="below"></fa-icon>
              <fa-icon class="fa-lg" *ngIf="user.isDisabled" icon="user-lock" matTooltip="{{ 'USERS.ISDISABLED' | translate }}" position="below"></fa-icon>
              <fa-icon class="fa-lg" *ngIf="user.isHidden" icon="eye-slash" matTooltip="{{ 'USERS.ISHIDDEN' | translate }}" position="below"></fa-icon>
            </div>
          </div>
        </div>
        <div class="card-flex-row card-margin">
          <app-card-number [card]="user.viewedMovieCount"></app-card-number>
          <app-card-number [card]="user.viewedEpisodeCount"></app-card-number>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="white">
      <mat-card-content>
        <h3 class="card-title">Last watched items</h3>
        <mat-table [dataSource]="user.lastWatchedMedia" class="round-border">
          <ng-container matColumnDef="logo">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <img src="{{element.deviceLogo}}"/>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.name}}
              <fa-icon icon="play" *ngIf="isNowPlaying(element.endedWatching)"></fa-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{getPlayedTime(element.watchedTime)}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef>Watched</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.watchedPercentage}}%
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="percentage">
            <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.startedWatching | amFromUtc | amLocal | amDateFormat: 'HH:mm DD/MM'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="action-cell">Action</mat-header-cell>
            <mat-cell *matCellDef="let element" class="action-cell">
              <a mat-raised-button href="{{getEmbyAddress()}}/web/index.html#!/itemdetails.html?id={{element.id}}" target="_blank" color="accent">{{ 'COMMON.OPEN' | translate }}</a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
