@import '~@angular/material/theming';
@import '../../../theme.scss';

.mat-column-number {
  max-width: 32px;
}

.mat-column-dateCreatedOne,
.mat-column-dateCreatedTwo,
.mat-column-qualityOne,
.mat-column-qualityTwo,
.mat-column-linkOne,
.mat-column-linkTwo,
.mat-column-reason {
  max-width: 100px;
}

.item-one {
  color: mat-color($app-primary) !important;
}

.item-two {
  color: mat-color($app-accent) !important;
}

