[Unit]
Description=Emby Stats program
After=network.target

[Service]
User=embystat
ExecStart=/usr/bin/embystat
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
