<div class="title_bar movie__flexcontainer">
  <div class="movie__flex-row movie__align-start">
    <div class="movie__left-content">
      <h2>{{'MENU.ABOUT' | translate}}</h2>
    </div>
  </div>
</div>
<div class="content">
  <div *ngIf="about$ | async as about">
    EmbyStat version: {{ about.version }} <br />
    Operating system: {{ about.operatingSystem }} {{about.architecture}} {{ about.operatingSystemVersion }}
  </div>
  <div>
    <h3>{{ 'ABOUT.THANKS.TITLE' | translate }}</h3>
    <p>{{ 'ABOUT.THANKS.TEXT' | translate }}</p>
    <mat-chip-list>
      <mat-chip>alz41</mat-chip>
      <mat-chip>ben-nl</mat-chip>
      <mat-chip>Floflobel</mat-chip>
      <mat-chip>jeankadang</mat-chip>
      <mat-chip>jm199905</mat-chip>
      <mat-chip>Nickbert7</mat-chip>
      <mat-chip>Sebastián Fenoglio</mat-chip>
      <mat-chip>...</mat-chip>
    </mat-chip-list>
  </div>
  <div style="padding-top: 20px;">
    <a mat-raised-button color="primary" style="padding-right: 10px;" target="_blank" href="https://github.com/mregni/EmbyStat/issues/new?template=Feature_request.md">Request feature</a>
    <a mat-raised-button color="primary" style="padding-right: 10px;" target="_blank" href="https://github.com/mregni/EmbyStat/issues/new?template=Bug_report.md">Log bug on Github</a>
    <a mat-raised-button color="primary" style="padding-right: 10px;" target="_blank" href="https://emby.media/community/index.php?/topic/56640-developing-a-standalone-embystat-server">Log bug on Emby forum</a>
    <a mat-raised-button color="primary" style="padding-right: 10px;" target="_blank" href="https://crowdin.com/project/embystat">Start translating the app</a>
  </div>
</div>
