<div class="settings-left">
  <mat-card class="half-width margin-bottom" *ngIf="settings$ | async as settings">
    <mat-card-content>
      <p>{{ 'SETTINGS.SHOW.COLLECTIONTYPES' | translate }}</p>
      <app-collection-selector [list]="settings.showCollectionTypes" (newList)="onCollectionListChanged($event)"></app-collection-selector>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="saveFormCollectionTypes()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
    </mat-card-actions>
  </mat-card>
</div>
