#Projects
**/Tests.Integration
**/Tests.Unit


#Folders
**/[Bb]in
**/[Oo]bj
**/node_modules
**/dist
**/wwwroot
**/output
**/.vs
**/.github
**/.git
**/.sonarqube
**/.gitattributes
**/.gitignore

#File extentions
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.md
*.yml
*.trc
*.sln
*.DotSettings
*.suo
*.user
*.sln.docstates
LICENSE