@import "../../../styles";

.job-flexcontainer {
  align-items: center;
  background: $white-color;
  border-radius: 2px;
  box-shadow: $normal-box-shadow;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px;
  min-height: 50px;
  padding: 20px;
}

.job-left-content {
  align-content: flex-start;
  width: 45px;

  mat-icon {
    margin-top: -2px;
  }
}

.job-right-content {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  margin-top: 7px;
  width: 40px;

  a {
    cursor: pointer;
  }
}

.job-center {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 10px;
}

.job-jobtitle {
  font-weight: bold;
  padding: 3px;
}

.job-jobsub-progress {
  align-items: center;
  color: $grey-font-color;
  display: flex;
  flex-direction: row;

  :nth-child(1) {
    flex: 1 1 auto;
  }

  :nth-child(2) {
    flex: 0 0 auto;
    margin-left: 20px;
    width: 40px;
  }
}

.job-failed {
  color: mat-color($mat-red, A700);
}
