@import "../scss/variables";

.app-sidenav-container {
  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$menu-height});
}

.app-sidenav {
  width: 240px;
}