<ng-progress [spinner]="false" [color]="'#bc012a'"></ng-progress>
<app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" class="app-sidenav mat-elevation-z1"
               [opened]="!isScreenSmall() && openMenu" #sidenav
               [mode]="isScreenSmall() ? 'over' : 'side'" position="start">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
