/*.collected-row {
  align-content: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0 10px;
}

.collection_headers {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.column {
  flex: 0 0 auto;
  padding: 10px;
  width: 100px;
}

.column-wide {
  flex: 0 0 auto;
  width: 150px;
  padding: 10px;
}

.column_small {
  flex: 0 0 auto;
  width: 10px;
}

.column__title {
  flex: 1 1 auto;
  padding: 10px;
}

//TODO: not working
@media only screen and (max-width: 1200px) {
  .hide-small-screen {
    display: none;
  }
}*/
