@import "../../../../../scss/variables";

.job-title {
  font-weight: bold;
}

.job-info {
  color: $grey-font-color;
}

.job-progress {
  align-items: center;
  color: $grey-font-color;
  display: flex;
  flex-direction: row;

  :nth-child(1) {
    flex: 1 1 auto;
  }

  :nth-child(2) {
    flex: 0 0 auto;
    margin-left: 20px;
    width: 40px;
  }
}

.job-center {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 10px;
}

.job-left {
  align-content: center;

  width: 45px;

  fa-icon {
    margin-top: -2px;
  }
}

.job-right {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  width: 20px;

  a {
    cursor: pointer;
  }

  fa-icon {
    margin-top: -3px;
    margin-right: -10px;
  }
}
