<mat-card class="mb-3">
  <mat-card-content class="d-flex flex-row justify-content-between" *ngIf="_job !== undefined">
    <div class="job-left">
      <button mat-mini-fab (click)="fireJob()" [disabled]="startingJob || disableStart()">
        <fa-icon icon="play-circle"></fa-icon>
      </button>
    </div>
    <div class="job-center" *ngIf="_job !== undefined">
      <div class="job-title">{{ 'JOB.INFO.' + _job.title | translate}}</div>
      <div *ngIf="_job.state !== 1" class="job-info">
        <div *ngIf="_job.state === 0">
          {{ 'JOB.NORUN' | translate }}
        </div>
        <div *ngIf="_job.state !== 0" [ngClass]="{'job-failed':_job.state === 2}">
          <div *ngIf="hasNoTime()">
            {{ 'JOB.LASTRUNNOW' | translate}}
          </div>
          <div *ngIf="!hasNoTime()">
            {{ 'JOB.LASTRUN' | translate}}
            <span *ngIf="hasHours(_job.endTimeUtc)">
              {{'JOB.HOURS' | translate: { hours: _job.endTimeUtc | amFromUtc | amLocal | convertToHoursAgo} }}
            </span>
            <span *ngIf="needsAnd()">
              {{'JOB.AND' | translate }}
            </span>
            <span *ngIf="hasMinutes(_job.endTimeUtc)">
              {{'JOB.MINUTES' | translate: { minutes: _job.endTimeUtc | amFromUtc | amLocal | convertToMinutesAgo} }}
            </span>
            <span *ngIf="!hasMinutes(_job.endTimeUtc) && !hasHours(_job.endTimeUtc)">
              {{'JOB.MOMENT_AGO' | translate }}
            </span>
            {{ 'JOB.AGO' | translate }},
            <span *ngIf="_job.state === 3">
              {{ 'JOB.FOR' | translate }}
            </span>
            <span *ngIf="_job.state === 2">
              {{ 'JOB.BUTFAILED' | translate}}
            </span>
            <span *ngIf="hasHours(_job.startTimeUtc, _job.endTimeUtc)">
              {{'JOB.HOURS' | translate: { hours: _job.startTimeUtc | amLocal | convertToHoursAgo:_job.endTimeUtc } }}
            </span><span *ngIf="needsCommaFor()">, </span>
            <span *ngIf="hasMinutes(_job.startTimeUtc, _job.endTimeUtc)">
              {{'JOB.MINUTES' | translate: { minutes: _job.startTimeUtc | amLocal | convertToMinutesAgo:_job.endTimeUtc } }}
            </span>
            <span *ngIf="needsAndFor()">
              {{'JOB.AND' | translate }}
            </span>
            <span *ngIf="hasSeconds(_job.startTimeUtc, _job.endTimeUtc)">
              {{'JOB.SECONDS' | translate: { seconds: _job.startTimeUtc | amLocal | convertToSecondsAgo:_job.endTimeUtc } }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="_job.state === 1" class="d-flex flex-row job-progress">
        <mat-progress-bar mode="determinate" value="{{_job.currentProgressPercentage}}"></mat-progress-bar>
        <span>{{_job.currentProgressPercentage}} %</span>
      </div>
    </div>
    <div class="job-right">
      <fa-icon icon="cogs" (click)="openSettings()" class="icon-link"></fa-icon>
    </div>
  </mat-card-content>
</mat-card>