@import "../../../../styles";
$iconWidth: 56px;

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: $small-size) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}

.bar-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  height: 30px;
}

.toolbar-small-text {
  font-size: 15px;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  margin-right: 10px;

  > div {
    margin-right: 10px;
  }
}

.toolbar-emby-ping-statusbox {
  display: flex;

  img {
    width: 25px;
    height: 25px;
  }
}
