<mat-toolbar color="primary" *ngIf="settings$ | async as settings">
  <button mat-button (click)="toggleSideNav.emit()" class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../assets/images/logo_white.png" class="toolbar-logo" />
  <span class="bar-spacer"></span>
  <div *ngIf="runningJob !== undefined && runningJob.state === 1" class="toolbar-small-text toolbar-container">
    <div class="la-ball-clip-rotate la-sm">
      <div></div>
    </div>
    {{ 'TOOLBAR.JOBISRUNNING' | translate: { job: 'JOB.INFO.' + runningJob.title | translate | capitalizeFirst } }}
  </div>
  <div class="toolbar-emby-ping-statusbox">
    <img *ngIf="missedPings === 0 && settings.emby.serverAddress" matTooltip="{{ 'TOOLBAR.NOMISSEDPINGS' | translate }}" matTooltipHideDelay="2000" position="below" src="../../../assets/images/icons/green_circle.png"/>
    <img *ngIf="missedPings === 1 && settings.emby.serverAddress" matTooltip="{{ 'TOOLBAR.ONEMISSEDPING' | translate }}" matTooltipHideDelay="2000" position="below" src="../../../assets/images/icons/orange_circle.png" />
    <img *ngIf="missedPings >= 2 && settings.emby.serverAddress" matTooltip="{{ 'TOOLBAR.MOREMISSEDPINGS' | translate }}" matTooltipHideDelay="2000"position="below" src="../../../assets/images/icons/red_circle.png" />
  </div>
  <div class="button-container">
    <a mat-raised-button href="{{getFullAddress(settings)}}" target="_blank" *ngIf="settings.emby.serverAddress" color="accent">{{ 'TOOLBAR.GOTOEMBY' | translate }}</a>
  </div>
</mat-toolbar>
