@import "../../../../scss/variables";

$icon-width: 56px;

.sidenav-toggle {
  display: none;
  padding: 0;
  min-width: $icon-width;

  @media (max-width: $xl) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $icon-width;
    width: $icon-width;
    line-height: $icon-width;
    color: $white;
  }
}

.bar-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  height: 30px;
}

.toolbar-small-text {
  font-size: 15px;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  margin-right: 10px;

  > div {
    margin-right: 10px;
  }
}

.toolbar-emby-ping-statusbox {
  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}