 <div class="title_bar movie__flexcontainer">
  <div class="movie__flex-row movie__align-start">
    <div class="movie__left-content">
      <h2>General Statistics</h2>
    </div>
    <div class="movie__right-content">
      <mat-form-field class="full-width">
        <mat-select placeholder="Collections" [formControl]="collectionsFormControl" multiple>
          <mat-option *ngFor="let collection of collections$ | async" [value]="collection.id">{{collection.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="content">
  <mat-tab-group>
    <mat-tab label="General">
      <div class="movie__tab-content">
        <div class="movie__flexcontainer" *ngIf="stats$ | async as stats">
          <div class="movie__flex-row movie__align-start">
            <app-card-number [card]="stats.movieCount"></app-card-number>
            <app-card-number [card]="stats.genreCount"></app-card-number>
            <app-card-timespan [card]="stats.totalPlayableTime"></app-card-timespan>
          </div>
          <div class="movie__flex-row movie__align-start">
            <app-poster [poster]="stats.highestRatedMovie"></app-poster>
            <app-poster [poster]="stats.lowestRatedMovie"></app-poster>
            <app-poster [poster]="stats.oldestPremieredMovie"></app-poster>
            <app-poster [poster]="stats.youngestPremieredMovie"></app-poster>
            <app-poster [poster]="stats.shortestMovie"></app-poster>
            <app-poster [poster]="stats.longestMovie"></app-poster>
            <app-poster [poster]="stats.youngestAddedMovie"></app-poster>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Graphs">
      <div class="movie__tab-content">Content 1</div>
    </mat-tab>
    <mat-tab label="Genres">Content 2</mat-tab>
    <mat-tab label="People">Content 2</mat-tab>
    <mat-tab label="List">Content 2</mat-tab>
  </mat-tab-group>
</div>

