<div class="title_bar movie__flexcontainer">
  <div class="movie__flex-row movie__align-start">
    <div class="movie__left-content">
      <h2>General Statistics</h2>
    </div>
    <div class="movie__right-content">
      <mat-form-field class="full-width">
        <mat-select placeholder="Collections" [formControl]="collectionsFormControl" multiple>
          <mat-option *ngFor="let collection of collections$ | async" [value]="collection.id">{{collection.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="content">
  <mat-tab-group>
    <mat-tab label="General">
      <div class="movie__tab-content">
        <app-movie-general [selectedCollections]="selectedCollections"></app-movie-general>
      </div>
    </mat-tab>
    <mat-tab label="Graphs">
      <div class="movie__tab-content">
        <app-movie-charts [selectedCollections]="selectedCollections"></app-movie-charts>
      </div>
    </mat-tab>
    <mat-tab label="People">
      <div class="movie__tab-content">
        <app-movie-people [selectedCollections]="selectedCollections"></app-movie-people>
      </div>
    </mat-tab>
    <mat-tab label="Suspicious">
      <div class="movie__tab-content">
        <app-movie-suspicious [selectedCollections]="selectedCollections"></app-movie-suspicious>
      </div>
    </mat-tab>
    <mat-tab label="List">
      <div class="movie__tab-content">Content 2</div>
    </mat-tab>
  </mat-tab-group>
</div>

