<div *ngIf="data === 'MOVIES'">
  <h1 mat-dialog-title>{{'DIALOGS.NOMOVIETYPEFOUND.TITLE' | translate | capitalizeFirst}}</h1>
  <div mat-dialog-content>
    <p>{{'DIALOGS.NOMOVIETYPEFOUND.BODY' | translate | capitalizeFirst}}</p>
  </div>
  <div mat-dialog-actions class="button-container">
    <button mat-raised-button color="warn" (click)="cancelClick()">{{ 'COMMON.CANCEL' | translate | capitalizeFirst }}</button>
    <button mat-raised-button color="primary" (click)="startSyncClick()" cdkFocusInitial>{{ 'TASKS.STARTMEDIASYNC' | translate | capitalizeFirst }}</button>
  </div>
</div>

<div *ngIf="data === 'SHOWS'">
  <h1 mat-dialog-title>{{'DIALOGS.NOSHOWTYPEFOUND.TITLE' | translate | capitalizeFirst}}</h1>
  <div mat-dialog-content>
    <p>{{'DIALOGS.NOSHOWTYPEFOUND.BODY' | translate | capitalizeFirst}}</p>
  </div>
  <div mat-dialog-actions class="button-container">
    <button mat-raised-button color="warn" (click)="cancelClick()">{{ 'COMMON.CANCEL' | translate | capitalizeFirst }}</button>
    <button mat-raised-button color="primary" (click)="startSyncClick()" cdkFocusInitial>{{ 'TASKS.STARTMEDIASYNC' | translate | capitalizeFirst }}</button>
  </div>
</div>
