<form class="form-container collectionselector-container" [formGroup]="form">
  <mat-checkbox (change)="onChange($event)" formControlName="movieType" value="1">{{ 'COMMON.MOVIES' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="showType" value="2">{{ 'COMMON.SHOWS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="mixedType" value="0">{{ 'COLLECTIONTYPES.MIXED' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="musicType" value="3">{{ 'COLLECTIONTYPES.MUSIC' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="musicVideoType" value="4">{{ 'COLLECTIONTYPES.MUSICVIDEOS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="trailersType" value="5">{{ 'COLLECTIONTYPES.TRAILERS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="homeType" value="6">{{ 'COLLECTIONTYPES.HOMEVIDEOS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="bookType" value="8">{{ 'COLLECTIONTYPES.BOOKS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="photoType" value="9">{{ 'COLLECTIONTYPES.PHOTOS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="gameType" value="10">{{ 'COLLECTIONTYPES.GAMES' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="liveType" value="11">{{ 'COLLECTIONTYPES.LIVETV' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="playType" value="12">{{ 'COLLECTIONTYPES.PLAYLISTS' | translate | capitalizeFirst }}</mat-checkbox>
  <mat-checkbox (change)="onChange($event)" formControlName="folderType" value="13">{{ 'COLLECTIONTYPES.FOLDERS' | translate | capitalizeFirst }}</mat-checkbox>
</form>