@import "../../../styles.scss";

.trigger__flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 25px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: $normal-box-shadow;
  margin: 5px;
}

.trigger__left-content {
  flex: 1 1 auto;
  align-content: flex-start;
}

.trigger__right-content {
  flex: 0 0 auto;
  width: 40px;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;

  a {
    margin-top: 3px;
    cursor: pointer;
  }
}

.fullWidth {
  width: 100%;
}
