@import '../../../styles.scss';

.jobs_overview__flexcontainer {
  display: flex;
  flex-direction: row;

  > div {
    width: calc(50% - 30px);
    flex: 0 0 auto;
  }
}

.joblog__flexcontainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px 20px 20px;
  border-radius: 2px;
  background: #fff;
  align-items: flex-start;
  justify-content:flex-end;
  box-shadow: $normal-box-shadow;
  background-color: mat-color($mat-blue, A400);
  color: white;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospac;
  line-height: 20px;
  margin: 0 0 20px 20px;
}

@media only screen and (max-width: $large-size) {
  .jobs_overview__flexcontainer {
    flex-direction: column;
     > div {
       flex: 0 1 100%;
       width: auto;
     }
  }

  .joblog__flexcontainer {
    margin: 0px;
  }
}
