<div class="media__flexcontainer" *ngIf="stats$ | async as stats">
  <div class="media__flex-row media__align-start">
    <app-card-number [card]="stats.movieCount"></app-card-number>
    <app-card-number [card]="stats.genreCount"></app-card-number>
    <app-card-timespan [card]="stats.totalPlayableTime"></app-card-timespan>
  </div>
  <div class="media__flex-row media__align-start">
    <app-movie-poster [poster]="stats.highestRatedMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.lowestRatedMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.oldestPremieredMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.youngestPremieredMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.shortestMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.longestMovie"></app-movie-poster>
    <app-movie-poster [poster]="stats.youngestAddedMovie"></app-movie-poster>
  </div>
</div>
