@import "../../../styles";

.content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-bar-left-content {
  align-content: flex-start;
  display: flex;
  flex-direction: row;

  mat-select {
    width: 150px;
  }

  .separator {
    font-size: 2em;
    font-weight: bold;
    line-height: 0.6em;
    margin: 0 8px;
  }
}

.card-header-bar {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.user-detail-column {
  display: flex;
  flex: 0 0 calc(50% - 15px);
  flex-direction: column;
  padding: 0;
}

.user-detail-column:not(:first-child) {
  margin-left: 25px;
}

mat-card-content {
  flex: 0 0 100%;

  h3 {
    margin: 0;
  }
}

mat-table {
  flex: 0 0 100%;
  margin-top: 25px;

  .action-cell {
    flex: 0 0 100px;
    justify-content: flex-end;
  }

  mat-cell fa-icon {
    margin-left: 5px;
  }

  mat-cell:first-child,
  mat-header-cell:first-child {
    flex: 0 0 30px;
    justify-content: flex-start;
    margin-right: 10px;
  }

  mat-cell:nth-child(3),
  mat-cell:nth-child(4),
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(3),
  mat-header-cell:nth-child(4),
  mat-header-cell:nth-child(5) {
    flex: 0 0 100px;
    justify-content: flex-start;
  }
}

.device-logo {
  height: 30px;
  width: 30px;
}

.card-flex-row {
  display: flex;
  flex: 0 0 100%;
}

.card-margin {
  padding: 10px 10px 10px 0;
}

.profile-image {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.card-flex-column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;

  .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;

  fa-icon:not(:first-child) {
    margin-left: 10px;
  }
}

@media only screen and (max-width: $large-size) {
  .user-detail-column {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    padding: 0;
  }

  .user-detail-column:not(:first-child) {
    margin-left: 0;
    margin-top: 25px;
  }

  mat-card {
    mat-table {
      flex: 0 0 100%;
      margin-top: 25px;
    }
  }

  .content {
    flex-direction: column;
  }
}
