<div class="movie__tab-content">
  <div class="movie__flexcontainer" *ngIf="stats$ | async as stats">
    <div class="movie__flex-row movie__align-start">
      <app-card-number [card]="stats.totalActorCount"></app-card-number>
      <app-card-number [card]="stats.totalDirectorCount"></app-card-number>
      <app-card-number [card]="stats.totalWriterCount"></app-card-number>
    </div>
    <div class="movie__flex-row movie__align-start">
      <app-person-poster [poster]="stats.mostFeaturedActor"></app-person-poster>
      <app-person-poster [poster]="stats.mostFeaturedDirector"></app-person-poster>
      <app-person-poster [poster]="stats.mostFeaturedWriter"></app-person-poster>
    </div>
  </div>
</div>
