@import "../../../../scss/variables";

.toolbar-flexcontainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$menu-height});
  justify-content: space-between;
}

.mat-list-no-padding {
  padding: 0;

  a fa-icon {
    width: 30px;
  }
}

.version-string {
  color: $grey-font-color;
  font-size: 0.8em;
  font-style: italic;
  padding: 0 0 10px 10px;
  text-align: center;
}
