@import "../../../styles";

.settings-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: $medium-size + 1) {
  .half-width {
    width: 50%;
  }
}

@media only screen and (max-width: $medium-size) {
  .half-width {
    width: calc(100% - 52px);
  }
}

@media only screen and (max-width: $small-size) {
  .half-width {
    width: calc(100% - 52px);
  }
}


@media only screen and (max-width: 850px) {
  .half-width {
    max-width: 100%;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -10px !important;

  > button:last-child {
    margin-right: 10px;
  }
}
