<div class="settings-left">
  <mat-card class="half-width margin-bottom" *ngIf="settings$ | async as settings">
    <mat-card-content>
      <form class="form-container" [formGroup]="form">
        <mat-form-field>
          <input matInput placeholder="{{'FORM_LABELS.NAME' | translate}}" formControlName="name" required>
          <!-- <mat-error *ngIf="nameControl.hasError('required')">{{'FORM_ERRORS.NAME_REQUIRED' | translate}}</mat-error>-->
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languages$ | async" value="{{language.code}}">
              <app-language [language]="language"></app-language>
            </mat-option>
          </mat-select>
          <mat-placeholder>{{'FORM_LABELS.LANGUAGE' | translate}}</mat-placeholder>
          <mat-hint align="start" [innerHtml]="'WIZARD.CROWNDINHELP' | translate"></mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="saveForm()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="settings-left">
  <mat-card class="half-width margin-bottom" *ngIf="settings$ | async as settings">
    <mat-card-content>
      <form class="form-container" [formGroup]="exceptionLoggingForm">
        <p>{{ 'SETTINGS.GENERAL.EXCEPTIONLOGGING' | translate }}</p>
        <mat-checkbox formControlName="exceptionLogging">{{ 'FORM_LABELS.EXCEPTIONLOGGING' | translate | capitalizeFirst }}</mat-checkbox>
        <div class="hint">{{ 'SETTINGS.GENERAL.EXCEPTIONLOGGINGWARNING' | translate }}</div>
      </form>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="saveExceptionLoggingForm()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
    </mat-card-actions>
  </mat-card>
</div>


<div class="settings-left">
  <mat-card class="half-width margin-bottom" *ngIf="settings$ | async as settings">
    <mat-card-content>
      <form class="form-container" [formGroup]="tvdbForm">
        <p>{{ 'SETTINGS.GENERAL.TVDBAPIKEY' | translate }}</p>
        <mat-form-field>
          <input matInput type="password" placeholder="{{ 'FORM_LABELS.TVDBAPI' | translate }}" formControlName="tvdbApiKey" required>
          <mat-hint align="start">{{ 'SETTINGS.GENERAL.TVDBAPIKEYWARNING' | translate }}</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="saveTvdbForm()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
    </mat-card-actions>
  </mat-card>
</div>
