<mat-card *ngIf="card !== undefined">
  <mat-card-content>
    <div class="card__flex-column">
      <div class="card__value">
        <span *ngIf="card.days > 0">{{card.days}} days</span>
        <span *ngIf="card.days > 0 && (card.minutes > 0 || card.hours > 0)"> and </span>
        <span *ngIf="card.minutes > 0 || card.hours > 0">{{card.hours}}:{{card.minutes}} hours</span>
      </div>
      <span class="card__title">{{card.title | translate}}</span>
    </div>
  </mat-card-content>
</mat-card>
