<mat-toolbar color="primary">
  <button mat-button (click)="toggleSideNav.emit()" class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../assets/images/logo_white.png" class="toolbar__logo" />
  <span class="bar-spacer"></span>
  <div *ngIf="runningTask !== undefined && runningTask.state === 2" class="toolbar__small-text toolbar__container">
    <div class="la-ball-clip-rotate la-sm">
      <div></div>
    </div>
    {{runningTask.name | translate | capitalizeFirst }} task is running
  </div>
  <div class="toolbar__emby_ping_statusbox">
    <img *ngIf="missedPings === 0" src="../../../assets/images/icons/green_circle.png" />
    <img *ngIf="missedPings === 1" src="../../../assets/images/icons/orange_circle.png" />
    <img *ngIf="missedPings >= 2" src="../../../assets/images/icons/red_circle.png" />
  </div>
  <div *ngIf="configuration$ | async as config" class="button-container">
    <a mat-raised-button href="{{config.embyServerAddress}}" target="_blank" *ngIf="config.embyServerAddress" color="accent">Emby server</a>
  </div>
</mat-toolbar>
