<div class="configuration__left">
  <mat-card class="half-width margin-bottom" *ngIf="configuration$ | async as config">
    <mat-card-content>
      <p>{{ 'CONFIGURATION.SHOW.COLLECTIONTYPES' | translate }}</p>
      <app-collection-selector [list]="config.showCollectionTypes" (newList)="onCollectionListChanged($event)"></app-collection-selector>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="saveFormCollectionTypes()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
    </mat-card-actions>
  </mat-card>
</div>
