@import "./styles/theme/poppins-font.scss";
@import "./styles/spacing";
@import "./styles/common";
@import "./styles/loader";

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 15px;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

h4 {
  margin-bottom: 16px;
}

/* Disabling arrows in number text field
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
