@import "./styles/spacing";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 15px;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

h4 {
  margin-bottom: 16px;
}
