//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme.scss";


$grey-font-color: #888;
$white-font-color: #fff;

$normal-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

body {
  margin: 0;
}

.content {
  margin: 25px;
}

.text-italic {
  font-style: italic;
}

.mat-typography a {
  color: white;
}

.mat-list-item-content i {
  padding-right: 15px;
}

.mat-list-item-content {
  font-size: 0.8em;
}

.italic {
  font-style: italic;
}

.full-width {
  width: 100%;
}

.title_bar {
  display:flex;
  flex: 1 1 auto;
  height: 50px;
  padding: 10px 20px;
  background: #fff;
  align-items: center;
  box-shadow: $normal-box-shadow;

  h2 {
    padding:0;
    margin:15px 0px;
  }
}

.subtext-grey {
  font-style: italic;
  padding: 3px;
  color: $grey-font-color;
}

.subtext-white {
  font-style: italic;
  padding: 3px;
  color: $white-font-color;
}

.no-top-margin {
  margin-top:0 !important;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.button-container > button:last-child {
  margin-left: 10px;
}
