@import '~@angular/material/theming';
@include mat-core();

// Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-blue, A400, A200, A700);
$app-accent: mat-palette($mat-orange, A400, A200, A700);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
