@import "../../../../scss/variables";

.spinner-container {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  
    > div:last-child {
      margin-top: 10px;
    }
  }
  
  .spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: $dark-grey;
    z-index: 1000;
  }