@import "../../../../scss/variables";

.spinner-container {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  > div:last-child {
    margin-top: 10px;
  }
}
  
.spinner-wrapper {
  align-items: center;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
