.task__flexcontainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  padding: 20px;
  border-radius: 2px;
  background: #fff;
  color: rgba(0,0,0,.87);
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.task__start-button {
  align-items: center;
  width: 45px;
}

.task__bodycontainer {
  display: flex;
  flex-direction: column;
}

.task__large-icon {
  font-size: 38px;
}

.task__tasksub {
  font-style: italic;
  padding: 3px;
  color: #888;
}

.task__tasktitle {
  padding: 3px;
  font-weight: bold;
}
