@import "../../styles.scss";

.task__flexcontainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  min-height: 50px;
  padding: 20px;
  border-radius: 2px;
  background: #fff;
  align-items: center;
  box-shadow: $normal-box-shadow;
}

.tasklog__flexcontainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  border-radius: 2px;
  background: #fff;
  align-items: flex-start;
  box-shadow: $normal-box-shadow;
  background-color: mat-color($mat-blue, A400);
  color: white;
}

.task__left-content {
  align-content: flex-start;
  width: 45px;

  mat-icon {
    margin-top: -2px;
  }
}

.task__right-content {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
  width: 40px;
  margin-top: 7px;

 a {
    cursor:pointer;
  }
}

.task__center {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.task__tasktitle {
  padding: 3px;
  font-weight: bold;
}

.task__tasksub-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $grey-font-color;
}

.task__tasksub-progress :nth-child(1) {
  flex: 1 1 auto;
}

.task__tasksub-progress :nth-child(2) {
  width: 40px;
  margin-left: 20px;
  flex: 0 0 auto;
}

.task__failed {
  color: #f44336;
}
