<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Rollbar.PlugIns.NLog"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
            layout="${longdate} [${uppercase:${level}}] ${message} ${exception:format=tostring}" />
    <target name="logrollbar" xsi:type="Rollbar.PlugIns.NLog">
      <contextproperty name="Architecture" layout="${environment:PROCESSOR_ARCHITECTURE}" />
      <contextproperty name="OS" layout="${environment:OS}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="logrollbar" />
  </rules>
</nlog>