@import "../../../../styles";

.card-value {
  font-size: 2.4em;
  font-weight: bold;
}

.card-title {
  font-size: 1em;
}

.card-flex-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-card {
  background-color: mat-color($app-primary) !important;
  color: $white !important;
  margin: 0 20px 20px 0;
  width: 200px;
}
