@import "../../../../theme.scss";

.card-value {
  font-size: 2.4em;
  font-weight: bold;
}

.card-title {
  font-size: 1em;
}

.card-flex-column {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-card {
  margin: 0px 20px 20px 0px;
  background-color: mat-color($app-primary) !important;
  color: #ffffff !important;
  width: 200px;
}
