.swal-icon--error {
  border-color: #f27474;
  -webkit-animation: animateErrorIcon .5s;
  animation: animateErrorIcon .5s
}

.swal-icon--error__x-mark {
  position: relative;
  display: block;
  -webkit-animation: animateXMark .5s;
  animation: animateXMark .5s
}

.swal-icon--error__line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px
}

.swal-icon--error__line--left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px
}

.swal-icon--error__line--right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px
}

@-webkit-keyframes animateErrorIcon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0
  }

  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1
  }
}

@keyframes animateErrorIcon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0
  }

  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1
  }
}

@-webkit-keyframes animateXMark {
  0% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0
  }

  50% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0
  }

  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1
  }
}

@keyframes animateXMark {
  0% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0
  }

  50% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0
  }

  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1
  }
}
