@import "./vars";

.title-bar {
  align-items: center;
  background: $white;
  box-shadow: $normal-box-shadow;
  display: flex;
  flex: 1 1 auto;
  height: 50px;
  padding: 10px 20px;

  h2 {
    margin: 15px 0px;
    padding: 0;
  }
}

.title-bar-align-start {
  justify-content: flex-start;
}

.title-bar-flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.title-bar-left-content {
  flex: 1 1 auto;
}

.title-bar-right-content {
  flex: 0 0 250px;
}
