$grey-font-color: #888;
$white-color: #fff;
$normal-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

$small-size: 768px;
$medium-size: 960px;
$large-size: 1899px;

$menu-height: 64px;
