<div class="row" *ngIf="settings !== undefined">
  <div class="col-12 col-lg-6 pb-1">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formToShort" class="d-flex flex-column">
          <p>{{'SETTINGS.MOVIE.TOSHORTTEXT' | translate }}</p>
          <p>
            <mat-checkbox formControlName="toShortMovieEnabled">
              {{ 'FORMLABELS.ENABLETOSHORTMOVIES' | translate | capitalizeFirst }}
            </mat-checkbox>
          </p>
          <mat-form-field>
            <input matInput placeholder="{{'FORMLABELS.DURATIONINMINUTES' | translate}}"
                   formControlName="toShortMovie">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-end">
        <button mat-raised-button color="primary"
          (click)="saveToShortForm()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row mt-2" *ngIf="settings !== undefined">
  <div class="col-12 col-lg-6 pb-1">
    <mat-card>
      <mat-card-content>
        <p>{{ 'SETTINGS.MOVIE.COLLECTIONTYPES' | translate }}</p>
        <es-library-selector [list]="settings.movieLibraryTypes" (newList)="onCollectionListChanged($event)">
        </es-library-selector>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-end">
        <button mat-raised-button color="primary" [disabled]="isSaving"
          (click)="saveCollectionTypesForm()">{{'COMMON.SAVE' | translate | capitalizeFirst}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
