<div class="center">
  <mat-vertical-stepper #stepper linear class="half-width" [selectedIndex]="wizardIndex" (selectionChange)="stepperPageChanged($event)">
    <mat-step label="{{'WIZARD.INTROLABEL' | translate}}" [stepControl]="introFormGroup">
      <div>
        <form [formGroup]="introFormGroup" class="form-container">
          <p [innerHTML]="'WIZARD.INTROTEXT' | translate"></p>
          <mat-form-field>
            <input matInput placeholder="{{'FORM_LABELS.NAME' | translate}}" formControlName="name" required>
            <!-- <mat-error *ngIf="nameControl.hasError('required')">{{'FORM_ERRORS.NAME_REQUIRED' | translate}}</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="language">
              <mat-option value="nl">Nederlands</mat-option>
              <mat-option value="en">English</mat-option>
            </mat-select>
            <mat-placeholder>{{'FORM_LABELS.LANGUAGE' | translate}}</mat-placeholder>
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" matStepperNext type="button">{{'COMMON.NEXT' | translate}}</button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="{{'WIZARD.EMBYLABEL' | translate}}" [stepControl]="embyFormGroup">
      <div>
        <form [formGroup]="embyFormGroup" class="form-container">
          <p *ngIf="!embyFound" [innerHTML]="'WIZARD.EMBYNOTFOUNDTEXT' | translate"></p>
          <p *ngIf="embyFound" [innerHTML]="'WIZARD.EMBYFOUNDTEXT' | translate"></p>
          <mat-form-field>
            <input matInput placeholder="{{'FORM_LABELS.EMBYADDRESS' | translate}}" formControlName="embyAddress" required>
            <!--<mat-error *ngIf="embyAddressControl.hasError('required')">{{'FORM_ERRORS.EMBYADDRESS_REQUIRED' | translate}}</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'FORM_LABELS.EMBYUSERNAME' | translate}}" formControlName="embyUsername" required>
            <!--<mat-error *ngIf="embyUsernameControl.hasError('required')">{{'FORM_ERRORS.EMBYUSERNAME_REQUIRED' | translate}}</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'FORM_LABELS.EMBYPASSWORD' | translate}}" formControlName="embyPassword" required [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <!--<mat-error *ngIf="embyPasswordControl.hasError('required')">{{'FORM_ERRORS.EMBYPASSWORD_REQUIRED' | translate}}</mat-error>-->
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" matStepperPrevious type="button">{{'COMMON.BACK' | translate}}</button>
            <button mat-raised-button color="primary" matStepperNext type="button">{{'COMMON.NEXT' | translate}}</button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="{{'WIZARD.SAVINGLABEL' | translate }}">
      <div>
        <p>
          {{'WIZARD.CHECKINGSTATUS' | translate }}
        </p>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon *ngIf="!embyOnline" color="warn">error</mat-icon>
            <mat-icon mat-list-icon *ngIf="embyOnline">check</mat-icon>
            <h4 mat-line>{{ 'WIZARD.EMBYRUNNING' | translate }}</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon *ngIf="!isAdmin" color="warn">error</mat-icon>
            <mat-icon mat-list-icon *ngIf="isAdmin">check</mat-icon>
            <h4 mat-line>{{ 'WIZARD.ISADMIN' | translate: { user: 'reggi' } }}</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon *ngIf="!pluginInstalled" color="warn">error</mat-icon>
            <mat-icon mat-list-icon *ngIf="pluginInstalled">check</mat-icon>
            <h4 mat-line>{{ 'WIZARD.PLUGININSTALLED' | translate }}</h4>
          </mat-list-item>
        </mat-list>
      </div>
      <p *ngIf="!(embyOnline && isAdmin && pluginInstalled)" class="text-italic">
        {{ 'WIZARD.SAVINGINSTRUCTIONS' | translate }}
      </p>
      <div class="button-container">
        <button mat-raised-button color="primary" matStepperPrevious type="button">{{'COMMON.BACK' | translate}}</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="!(embyOnline && isAdmin && pluginInstalled)" type="button">{{'COMMON.NEXT' | translate}}</button>
      </div>
    </mat-step>
    <mat-step label="{{'WIZARD.FINALLABEL' | translate }}">
      <div>
        <p>{{ 'WIZARD.FINISHED' | translate }}</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="finishWizard()" type="button">{{ 'COMMON.FINISH' | translate }}</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>

