<div class="title-bar">
  <div class="title-bar-left-content">
    <h2>{{ 'MENU.USERS' | translate }}</h2>
  </div>
  <div class="title-bar-right-content">
    <mat-form-field>
      <mat-select placeholder="Sort by" (selectionChange)="filterChanged($event)" [(ngModel)]="defaultValue">
        <mat-option [value]="option.value" *ngFor="let option of orderOptions">{{option.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <img src="../../../../assets/images/under-construction.webp" width="100" />
  </div>
</div>
<div *ngIf="users !== undefined" class="content">
  <h3>{{ 'USERS.ACTIVE' | translate }}</h3>
  <div class="row">
    <div class="col-12 d-flex flex-row flex-wrap">
      <app-user-card *ngFor="let user of users" [user]="user" (clicked)="navigateToUser($event)" class="mt-3 mr-3">
      </app-user-card>
    </div>
  </div>
  <h3 class="mt-5">{{ 'USERS.DELETED' | translate }}</h3>
  <div class="row">
    <div class="col-12 d-flex flex-row flex-wrap">
      <app-user-card *ngFor="let user of deletedUsers" [user]="user" (clicked)="navigateToUser($event)" class="mt-3 mr-3"></app-user-card>
    </div>
  </div>
</div>
