@import "../../../styles";

.log-flexcontainer {
  background: $white;
  border-radius: 2px;
  box-shadow: $normal-box-shadow;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  margin: 0 0 20px;
  padding: 20px;
  width: 50%;
}

.log-title {
  font-weight: bold;
  padding: 3px;
}

.log-subtitle {
  color: $grey-font-color;
}

.log-left-column {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
}

.log-right-column {
  align-items: flex-end;
  flex: 1 1 auto;
}

@media only screen and (max-width: $large-size) {
  .log-flexcontainer {
    width: auto;
  }
}
