<div class="title_bar">
  <h2>{{'MENU.LOGS' | translate}}</h2>
</div>

<div class="content">
  <div *ngFor="let log of logs$ | async" class="log__flexcontainer">
    <div class="log__left-column">
      <div class="log__title ">{{log.fileName}}</div>
      <div class="log__subtitle">{{log.createdDate | amLocal | amDateFormat: 'DD/MM/YYYY'}} - {{convertToSize(log.size)}}</div>
    </div>
    <div class="log__right-column button-container">
      <a mat-raised-button color="primary" [attr.href]="downloadLog(log.fileName, false)" target="_blank">{{ 'COMMON.DOWNLOAD' | translate | capitalizeFirst }}</a>
      <a mat-raised-button color="primary" [attr.href]="downloadLog(log.fileName, true)" target="_blank">{{ 'COMMON.ANONYMISEDDOWNLOAD' | translate | capitalizeFirst }}</a>
    </div>
  </div>
</div>
