.show-graph-flexcontainer {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  padding-top: 10px;
  width: 100%;
  justify-content: flex-start;
}

.graph-container-full {
  flex: 0 0 auto;
  width: 100%;
}

.graph-container-half {
  flex: 0 0 auto;
  width: 50%;
}

@media only screen and (max-width: 850px) {
  .graph-container-half {
    flex: 0 0 auto;
    width: 100%;
  }
}

mat-card {
  margin-bottom: 20px;

  mat-card-content {
    height: 400px;
    width: 100%;
  }
}

.flex_column {
  flex-direction: column;
}

.flex_row {
  flex-direction: row;
}
