<mat-card *ngIf="user !== undefined" (click)="openUser()" matRipple matRippleCentered="true">
  <mat-card-content>
    <div class="card-flex-row">
      <div>
        <img class="profile-image" *ngIf="user.primaryImageTag !== ''; else noImage"
          src="{{getEmbyAddress()}}/emby/users/{{user.id}}/images/primary?width=100&tag={{user.primaryImageTag}}&quality=90" />
        <ng-template #noImage>
          <img class="profile-image" src="../../../../../assets/images/no-profile.png" />
        </ng-template>
      </div>
      <div class="card-flex-column user-card-margin">
        <div class="name">{{user.name}}</div>
        <div *ngIf="user.lastActivityDate">{{ 'USERS.LASTACTIVE' | translate }}:
          {{user.lastActivityDate | amLocal | amDateFormat:'DD/MM/YY HH:mm'}}</div>
        <div *ngIf="user.lastActivityDate == undefined">{{ 'USERS.LASTACTIVE' | translate }}:
          {{ 'COMMON.NEVER' | translate }}</div>
        <div class="icon-container">
          <fa-icon class="fa-lg" *ngIf="user.isAdministrator" icon="user-tie"
            matTooltip="{{ 'USERS.ISADMIN' | translate }}" position="below"></fa-icon>
          <fa-icon class="fa-lg" *ngIf="user.isDisabled" icon="user-lock"
            matTooltip="{{ 'USERS.ISDISABLED' | translate }}" position="below"></fa-icon>
          <fa-icon class="fa-lg" *ngIf="user.isHidden" icon="eye-slash" matTooltip="{{ 'USERS.ISHIDDEN' | translate }}"
            position="below"></fa-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>