<div class="title-bar">
  <div class="title-bar-left-content">
    {{ 'MENU.SHOWS' | translate }}
  </div>
  <div class="title-bar-right-content">
    <mat-form-field class="full-width">
      <mat-select placeholder="{{ 'COMMON.LIBRARIES' | translate }}" [formControl]="librariesFormControl" multiple>
        <mat-option *ngFor="let library of libraries$ | async" [value]="library.id">
          {{library.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="content" *ngIf="typeIsPresent">
  <div *ngIf="statistics$ | async as stats; else loading">
    <div class="row">
      <div class="col-xl-2 col-md-4 col-12 mb-3">
        <app-number-card [card]="stats.general.showCount"></app-number-card>
      </div>
      <div class="col-xl-2 col-md-4 col-12 mb-3">
        <app-number-card [card]="stats.general.episodeCount"></app-number-card>
      </div>
      <div class="col-xl-2 col-md-4 col-12 mb-3">
        <app-number-card [card]="stats.general.missingEpisodeCount"></app-number-card>
      </div>
      <div class="col-xl-2 col-md-4 col-12 mb-3">
          <app-size-card [card]="stats.general.totalDiskSize"></app-size-card>
        </div>
      <div class="col-xl-3 col-md-4 col-12 mb-3">
        <app-time-card [card]="stats.general.totalPlayableTime"></app-time-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-scrollbar [shown]='native' [trackX]='true'>
          <div class="d-flex flex-row justify-content-start">
            <app-show-poster [poster]="stats.general.highestRatedShow"></app-show-poster>
            <app-show-poster [poster]="stats.general.lowestRatedShow"></app-show-poster>
            <app-show-poster [poster]="stats.general.showWithMostEpisodes"></app-show-poster>
            <app-show-poster [poster]="stats.general.oldestPremieredShow"></app-show-poster>
            <app-show-poster [poster]="stats.general.newestPremieredShow"></app-show-poster>
            <app-show-poster [poster]="stats.general.latestAddedShow"></app-show-poster>
          </div>
        </ng-scrollbar>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="{{ 'COMMON.GRAPHS' | translate | capitalizeFirst}}">
        <div class="mt-3 pl-0 container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-xl-6 mb-3" *ngFor="let chart of stats.charts.barCharts">
                  <app-simple-chart [chart]="chart" [options]="barOptions"></app-simple-chart>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-3" *ngFor="let chart of stats.charts.pieCharts">
                  <app-simple-chart [chart]="chart" type="doughnut" height="175" [options]="pieOptions">
                  </app-simple-chart>
                </div>
                <div class="col-12 col-xl-6">
                  <mat-card>
                    <mat-card-title>
                      {{ 'COMMON.ACTORSPERGENRE' | translate | capitalizeFirst }}
                    </mat-card-title>
                    <mat-card-content>
                      <app-person-list [posters]="stats.people.mostFeaturedActorsPerGenre"></app-person-list>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'SHOWS.OVERVIEW' | translate | capitalizeFirst}}">
        <div class="mt-3 pl-0 container-fluid">
          <div class="row">
            <div class="col-12">
              <mat-card *ngIf="sortedRowsDataSource !== undefined; else loading">
                <mat-card-content>
                  <table mat-table [dataSource]="sortedRowsDataSource" multiTemplateDataRows>
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'COMMON.TITLE' | translate | capitalizeFirst }}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
                    </ng-container>
                    <ng-container matColumnDef="premiereDate">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.PREMIEREDATE' | translate | capitalizeFirst }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.premiereDate | amLocal | amDateFormat:'DD/MM/YYYY' }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.STATUS' | translate | capitalizeFirst }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.status">{{ 'SHOWS.CONTINUING' | translate | capitalizeFirst }}</span>
                        <span *ngIf="!element.status">{{ 'SHOWS.ENDED' | translate | capitalizeFirst }}</span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="seasons">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ 'SHOWS.SEASONS' | translate | capitalizeFirst }}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{ element.seasons }} </td>
                    </ng-container>
                    <ng-container matColumnDef="precentage">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.PERCENTAGE' | translate | capitalizeFirst }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="progress position-relative">
                          <div class="progress-bar" role="progressbar"
                            [style.width.%]="calculatePercentage(element) * 100 | number:'1.0-1'"
                            [style.background-color]="getColor(element)">
                            <span class="justify-content-center d-flex position-absolute w-100 font-weight-bold">
                              {{ element.episodes }} /
                              {{ element.episodes + element.missingEpisodeCount }}
                              <span *ngIf="element.specials > 0">
                                &nbsp;+
                                {{element.specials}}
                              </span>
                            </span>
                          </div>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let element" [attr.colspan]="getcolumns().length">
                        <div class="element-detail" [@detailExpand]="element == expandedRow ? 'expanded' : 'collapsed'">
                          <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                            <img src="{{getShowBannerLink(element)}}" alt="Show banner" height="60" class="border-radius-small"/>
                            <div class="d-flex flex-column align-items-center justify-content-center ml-2">
                              <div>
                              <img src="../../../../assets/images/imdb.png" alt="IMDB" height="15" class="mb-2" *ngIf="element.imdb !== undefined" (click)="openImdb(element.imdb)" />
                                </div>
                              <div>
                                <img src="../../../../assets/images/tvdb.png" alt="TVDB" height="15" *ngIf="element.tvdb !== undefined" (click)="openTvdb(element.tvdb)" />
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            {{ 'COMMON.DISKSIZE' | translate }}: 
                            <span *ngIf="element.size <= 999">{{element.size | number:'0.1-2':settings.language}} MB</span>
                            <span *ngIf="element.size > 999">{{element.size / 1024 | number:'0.1-2':settings.language}} GB</span>
                          </div>
                          <div *ngIf="element.missingEpisodeCount > 0">
                              <h4>{{ 'SHOWS.MISSINGEPISODES' | translate }}</h4>
                              <div class="d-flex flex-row justify-content-start align-items-start align-self-stretch flex-wrap">
                                <div *ngFor="let episodesBySeason of element.missingEpisodes" class="mr-3 mb-3">
                                  <span *ngFor="let missingEpisode of episodesBySeason.episodes">
                                      S{{episodesBySeason.seasonNumber}} - E{{missingEpisode.episodeNumber}} - {{missingEpisode.name}}<br/>
                                  </span>
                                </div>
                              </div>
                          </div>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getcolumns()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getcolumns();"
                      class="element-row"
                      [class.expanded-row]="expandedRow === row"
                      (click)="expandedRow = expandedRow === row ? null : row"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                  </table>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #loading>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>
