@import "variables";

.poster {
  width: 200px;
  height: 300px;
  margin-right: 20px;
  border-radius: 0.25rem;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.poster-content {
  background-color: $light-grey;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 73px;

  .poster-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
  }
}

.poster-sub-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
