@import '~bootstrap/scss/bootstrap';
@import "~ng2-toasty/style-bootstrap.css";

@import "partials/variables";
@import "partials/mixins";
@import "partials/general";
@import "partials/generic";

// Menu
@import "partials/menu/menu";

// Important Theme elements
@import "partials/theme-elements/button";
@import "partials/theme-elements/form-elements";

// Theme elements
@import "partials/theme-elements/label-badges";

// Tables
@import "partials/tables/tables";

// Other
@import "partials/other/progress-bar";

// Responsive css
@import "partials/responsive/responsive";

@import "partials/dark";

//angular custom
@import "partials/custom";


/*html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content {
  margin: 25px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}

.text-italic {
  font-style: italic;
}

.mat-typography a {
  color: $white;
}

.mat-list-item-content i {
  padding-right: 15px;
}

.mat-list-item-content {
  font-size: 0.8em;
}

.full-width {
  width: 100%;
}

.subtext-grey {
  font-style: italic;
  padding: 3px 3px 3px;
  color: $grey-font-color;
}

.subtext-white {
  font-style: italic;
  padding: 3px;
  color: $white;
}

.subtext-grey-small {
  font-size: 11px;
  font-style: italic;
  padding: 3px;
  color: $grey-font-color;
}


.no-top-margin {
  margin-top: 0 !important;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > button:last-child,
  > a:last-child {
    margin-left: 10px;
  }
}

.toast__success {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $green !important;
  }
}

.toast__warning {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $orange !important;
  }
}

.toast__fail {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $dark-red !important;
  }
}

.text__accent {
  color: mat-color($mat-orange, A400);
  font-weight: bold;
}

.text__warn {
  color: mat-color($mat-red, A700);
  font-weight: bold;
}

.round-border {
  border-radius: 4px;
}

.hint {
  color: $hint-grey;
  font-size: 75%;
}*/
