@import "./variables";

.toast-success {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $green !important;
  }
}

.toast-warning {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $orange !important;
  }
}

.toast-fail {
  padding: 14px 14px 14px 24px !important;

  .mat-simple-snackbar-action {
    color: $dark-red !important;
  }
}
