.movie-graph-flexcontainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: flex-start;
  padding-top: 10px;
  width: 100%;
  justify-content: flex-start;
}

.movie-graph-row {
  flex: 0 0 auto;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .graph-container {
    flex: 0 0 auto;
    width: 50%;

    mat-card {
      margin: 0 20px 20px 0;
      height: 400px;
    }

    mat-card mat-card-content {
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1199px) {
  .movie-graph-row {
    flex-direction: column;

    .graph-container {
      width: 100%;
    }
  }
}
