<div class="movie-graph-flexcontainer">
  <div class="movie-graph-row">
    <div class="graph-container">
      <ngx-charts-bar-vertical class="graph-height"
                               scheme="vivid"
                               [results]="data"
                               [animations]="true"
                               [legend]="false"
                               [xAxis]="true"
                               [yAxis]="true"
                               schemeType="ordinal"
                               [showGridLines]="true"></ngx-charts-bar-vertical>
    </div>
    <div class="graph-container">
      <ngx-charts-bar-vertical class="graph-height"
                               scheme="vivid"
                               [results]="data"
                               [animations]="true"
                               [legend]="false"
                               [xAxis]="true"
                               [yAxis]="true"
                               schemeType="ordinal"
                               [showGridLines]="true"></ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="movie-graph-row">
    <div class="graph-container">
      <ngx-charts-bar-vertical class="graph-height"
                               scheme="vivid"
                               [results]="data"
                               [animations]="true"
                               [legend]="false"
                               [xAxis]="true"
                               [yAxis]="true"
                               schemeType="ordinal"
                               [showGridLines]="true"></ngx-charts-bar-vertical>
    </div>
    <div class="graph-container">
      <ngx-charts-bar-vertical class="graph-height"
                               scheme="vivid"
                               [results]="data"
                               [animations]="true"
                               [legend]="false"
                               [xAxis]="true"
                               [yAxis]="true"
                               schemeType="ordinal"
                               [showGridLines]="true"></ngx-charts-bar-vertical>
    </div>
  </div>
</div>
