/*.movie-graph-flexcontainer {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 100%;
}

.graph-container {
  flex: 0 0 auto;
  width: 100%;

  mat-card {
    margin-bottom: 20px;

    mat-card-content {
      height: 400px;
      width: 100%;
    }
  }
}*/
