<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<ComponentRef Id="MainAppShortcut" />
		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\ConsoleApp1\bin\Debug\netcoreapp2.0\win-$(var.Platform)\publish\">

			<Component Id="MainAppShortcut" Guid="{0995664D-AE63-4DD6-B894-708A99611370}">

				<Shortcut Id="MainAppShortcut"
				          Name="!(loc.ProductName_$(var.Platform))"
				          Target="[INSTALLFOLDER]EmbyStat.exe"
				          Directory="InstallProgramMenuFolder"
				          WorkingDirectory="INSTALLFOLDER"
				          Icon="icon.ico"/>

				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\$(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
