<div class="configuration-left">
  <mat-card class="half-width margin-bottom" *ngIf="configuration$ | async as config">
    <mat-card-content>
      <div *ngIf="(updateResult$ | async) as result; else loading">
        <h3 *ngIf="result.isUpdateAvailable; else noUpdate">Version {{result.availableVersion}} available for download!</h3>
        <ng-template #noUpdate><p>No update available</p></ng-template>
      </div>
      <ng-template #loading>
        <div class="la-ball-scale-ripple-multiple la-dark">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </ng-template>
      <button [disabled]="configuration.updateInProgress" class="margin-bottom" mat-raised-button (click)="startUpdate()" color="accent">{{ 'CONFIGURATION.UPDATE.CHECK' | translate }}</button>
      <form class="form-container" [formGroup]="form">
        <mat-checkbox class="margin-bottom" (change)="onChange($event)" formControlName="autoUpdate">{{ 'CONFIGURATION.UPDATE.AUTO' | translate | capitalizeFirst }}</mat-checkbox>
        <p *ngIf="onMaster; else notMasterTrain">{{ 'CONFIGURATION.UPDATE.TRAINWARNING' | translate }}</p>
        <ng-template #notMasterTrain>
          <p>{{ 'CONFIGURATION.UPDATE.ONBETA' | translate }}</p>
        </ng-template>
        <mat-form-field>
          <mat-select formControlName="train" [disableControl]="!onMaster">
            <mat-option [value]="2">Master</mat-option>
            <mat-option [value]="1">Beta</mat-option>
          </mat-select>
          <mat-placeholder>{{ 'CONFIGURATION.UPDATE.TRAIN' | translate }}</mat-placeholder>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="configuration.updateInProgress" >{{ 'COMMON.SAVE' | translate | capitalizeFirst }}</button>
    </mat-card-actions>
  </mat-card>
</div>


