<mat-card *ngIf="card !== undefined">
  <mat-card-content class="d-flex align-items-center flex-column">
      <h6 class="title">{{card.title | translate}}</h6>
      <h4 class="value">
        <span [countUp]="card.days" [reanimateOnClick]="false"></span>{{ 'COMMON.DAYSABBR' | translate }} 
        <span [countUp]="card.hours" [reanimateOnClick]="false"></span>{{ 'COMMON.HOURSABBR' | translate }} 
        <span [countUp]="card.minutes" [reanimateOnClick]="false"></span>{{ 'COMMON.MINUTESABBR' | translate }}
      </h4>
  </mat-card-content>
</mat-card>