<div class="title-bar">
  {{ 'MENU.DASBOARD' | translate }}
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let log of logs$ | async">
              <fa-icon matListIcon icon="file"></fa-icon>
              <h3 matLine> {{ log.fileName }} </h3>
              <p matLine>
                <span> {{ convertToSize(log.size) }} </span>
                <a mat-raised-button color="primary" class="float-right" [attr.href]="downloadLog(log.fileName, true)"
                  target="_blank">{{ 'COMMON.ANONYMISEDDOWNLOAD' | translate | capitalizeFirst }}</a>
                <a mat-raised-button color="primary" class="float-right mr-2" [attr.href]="downloadLog(log.fileName, false)"
                  target="_blank">{{ 'COMMON.DOWNLOAD' | translate | capitalizeFirst }}</a>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>