@import "../../../../scss/emby-address";

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > button:last-child {
    margin-left: 10px;
  }
}

.form-container > * {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0; 
}

.logo-item-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color: #272727;
  margin: 25px;
  padding: 10px 25px;
  font-weight: 500;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;

  img {
    width: 100px;
    padding: 5px;
  }

  p {
    padding: 10px 0 0 0;
  }
}

.logo-item-container:hover {
  background-color: #121212;
}
