<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <mat-card class="mt-3">
      <mat-card-content>
        <mat-horizontal-stepper #stepper linear [selectedIndex]="wizardIndex"
          (selectionChange)="stepperPageChanged($event)">
          <mat-step label="{{'WIZARD.INTROLABEL' | translate}}" [stepControl]="introFormGroup">
            <div>
              <form [formGroup]="introFormGroup" class="form-container">
                <p [innerHTML]="'WIZARD.INTROTEXT' | translate"></p>
                <mat-form-field>
                  <input matInput placeholder="{{'FORMLABELS.NAME' | translate}}" formControlName="name" required>
                  <!-- <mat-error *ngIf="nameControl.hasError('required')">{{'FORM_ERRORS.NAME_REQUIRED' | translate}}</mat-error> -->
                </mat-form-field>
                <mat-form-field>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let language of languages$ | async" value="{{language.code}}">
                      <app-language [language]="language"></app-language>
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>{{'FORMLABELS.LANGUAGE' | translate}}</mat-placeholder>
                  <mat-hint align="start" [innerHtml]="'WIZARD.CROWNDINHELP' | translate"></mat-hint>
                </mat-form-field>
                <p class="mt-5">{{ 'SETTINGS.GENERAL.EXCEPTIONLOGGING' | translate }}</p>
                <mat-checkbox formControlName="exceptionLogging">
                  {{ 'FORMLABELS.EXCEPTIONLOGGING' | translate | capitalizeFirst }}</mat-checkbox>
                <div class="button-container">
                  <button mat-raised-button color="primary" matStepperNext
                    type="button">{{'COMMON.NEXT' | translate | capitalizeFirst}}</button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step label="{{ 'WIZARD.SERVERTYPELABEL' | translate }}">
            <div class="logo-container">
              <div (click)="selectType('emby')" class="logo-item-container">
                <img src="../../../../assets/images/emby.png" alt="Emby logo" />
                <p>{{ 'COMMON.EMBYSERVER' | translate }}</p>
              </div>
              <div (click)="selectType('jellyfin')" class="logo-item-container">
                <img src="../../../../assets/images/jellyfin.png" alt="Jellyfin logo" />
                <p>{{ 'COMMON.JELLYFINSERVER' | translate }}</p>
              </div>
            </div>
            <div class="button-container">
              <button mat-stroked-button color="primary" matStepperPrevious type="button">
                {{'COMMON.BACK' | translate | capitalizeFirst}}
              </button>
            </div>
          </mat-step>
          <mat-step label="{{'WIZARD.EMBYLABEL' | translate}}" [stepControl]="serverForm">
            <div>
              <p *ngIf="serverFound == 3" [innerHTML]="'WIZARD.NOTFOUNDTEXT' | translate : { type: typeText }" class="mt-2"></p>
              <p *ngIf="serverFound == 2" [innerHTML]="'WIZARD.FOUNDTEXT' | translate : { type: typeText, name: serverName }" class="mt-2"></p>
              <form [formGroup]="serverForm" class="d-flex flex-column">
                <div class="d-flex flex-row">
                  <mat-form-field class="emby-protocol mr-3">
                    <mat-select formControlName="serverProtocol">
                      <mat-option [value]="0">https://</mat-option>
                      <mat-option [value]="1">http://</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="emby-address mr-3">
                    <input matInput placeholder="{{'SETTINGS.EMBY.EMBYADDRESS' | translate : { type: typeText } }}"
                      formControlName="serverAddress">
                    <mat-error *ngIf="serverAddressControl.hasError('required')">
                      {{'SETTINGS.EMBY.EMBYADDRESSREQUIRED' | translate : { type: typeText } }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="emby-port">
                    <input matInput placeholder="{{ 'SETTINGS.EMBY.EMBYPORT' | translate : { type: typeText } }}"
                           digitOnly maxlength="5" formControlName="serverPort" required>
                    <mat-error *ngIf="serverPortControl.hasError('required')">
                      {{'SETTINGS.EMBY.EMBYPORTREQUIRED' | translate : { type: typeText } }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <input matInput placeholder="{{'SETTINGS.EMBY.EMBYAPIKEY' | translate : { type: typeText } }}"
                         formControlName="serverApiKey" type="text">
                  <mat-error *ngIf="serverApiKeyControl.hasError('required')">
                    {{'SETTINGS.EMBY.EMBYAPIKEYREQUIRED' | translate : { type: typeText } }}
                  </mat-error>
                </mat-form-field>
                <p class="mt-2" [innerHtml]="'SETTINGS.EMBY.APIKEYHINT' | translate : { type: typeText, url: serverUrl }"></p>
                <div class="button-container">
                  <button mat-stroked-button color="primary" matStepperPrevious type="button">
                    {{'COMMON.BACK' | translate | capitalizeFirst}}
                  </button>
                  <button mat-raised-button color="primary" matStepperNext type="button">
                    {{'COMMON.NEXT' | translate | capitalizeFirst}}
                  </button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step label="{{'WIZARD.SAVINGLABEL' | translate }}">
            <div class="mt-2">
              <h3>
                {{'WIZARD.CHECKINGSTATUS' | translate : { type: typeText } }}
              </h3>
            </div>
            <div>
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon *ngIf="serverOnline == 3" color="warn">error</mat-icon>
                  <mat-icon mat-list-icon *ngIf="serverOnline == 2">check</mat-icon>
                  <mat-icon mat-list-icon *ngIf="serverOnline == 1">hourglass_empty</mat-icon>
                  <mat-icon mat-list-icon *ngIf="serverOnline == 0">hourglass_empty</mat-icon>
                  <p mat-line>{{ 'WIZARD.SERVERRUNNING' | translate }}</p>
                </mat-list-item>
                <mat-list-item *ngIf="serverOnline == 2">
                  <mat-icon mat-list-icon *ngIf="apiKeyWorks == 3" color="warn">error</mat-icon>
                  <mat-icon mat-list-icon *ngIf="apiKeyWorks == 2">check</mat-icon>
                  <mat-icon mat-list-icon *ngIf="apiKeyWorks == 1">hourglass_empty</mat-icon>
                  <mat-icon mat-list-icon *ngIf="apiKeyWorks == 0">hourglass_empty</mat-icon>
                  <p mat-line>{{ 'WIZARD.KEYISVALID' | translate: { user: username } }}</p>
                </mat-list-item>
              </mat-list>
            </div>
            <p *ngIf="!(serverOnline && apiKeyWorks && (type == 0 || (type == 1 && !!selectedAdministrator.value)))">
              {{ 'WIZARD.SAVINGINSTRUCTIONS' | translate }}
            </p>
            <div class="button-container">
              <button mat-stroked-button color="primary" matStepperPrevious
                      [disabled]="serverOnline == 1 && apiKeyWorks == 1"
                      type="button">{{'COMMON.BACK' | translate | capitalizeFirst}}</button>
              <button mat-raised-button color="primary" matStepperNext
                      [disabled]="!(serverOnline == 2 && apiKeyWorks == 2) && (type == 0 || (type == 1 && !!selectedAdministrator.value))"
                      type="button">{{'COMMON.NEXT' | translate | capitalizeFirst}}</button>
            </div>
          </mat-step>
          <mat-step label="{{'WIZARD.FINALLABEL' | translate }}">
            <div>
              <p>{{ 'WIZARD.FINISHED' | translate }}</p>
              <p>{{ 'WIZARD.FINISHEXPLANATION' | translate }}</p>
            </div>
            <div *ngIf="type == 1">
              <p>
                {{ 'WIZARD.JELLYFIN.ADMINTEXT' | translate }}
              </p>
              <form>
                <mat-form-field class="mr-3">
                  <mat-select formControlName="selectedAdministrator">
                    <mat-option *ngFor="let admin of administrators" [value]="admin.id">
                      {{admin.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div class="button-container">
              <button mat-raised-button color="primary" (click)="finishWizard()" type="button">
                {{ 'COMMON.FINISH' | translate | capitalizeFirst }}
              </button>
              <button mat-raised-button color="accent" (click)="finishWizardAndStartSync()" type="button">
                {{ 'WIZARD.FINISHWITHSYNC' | translate | capitalizeFirst }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
