@import "../../../../scss/emby-address";

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > button:last-child {
    margin-left: 10px;
  }
}

.form-container > * {
  width: 100%;
}
