<div class="title-bar">
  {{ 'MENU.SETTINGS' | translate }}
</div>
<div class="content">
  <div class="row">
    <div class="col-12">
      <mat-tab-group [selectedIndex]="selected" *ngIf="settings != undefined">
        <mat-tab label="{{'COMMON.GENERAL' | translate | capitalizeFirst}}">
          <div class="mt-2 pl-0 container-fluid">
            <es-settings-general [settings]="settings"></es-settings-general>
          </div>
        </mat-tab>
        <mat-tab label="{{serverTypeText | capitalizeFirst}}">
          <div class="mt-2 pl-0 container-fluid">
            <es-settings-emby [settings]="settings"></es-settings-emby>
          </div>
        </mat-tab>
        <mat-tab label="{{'COMMON.MOVIES' | translate | capitalizeFirst}}">
          <div class="mt-2 pl-0 container-fluid">
            <es-settings-movie [settings]="settings"></es-settings-movie>
          </div>
        </mat-tab>
        <mat-tab label="{{'COMMON.SHOWS' | translate | capitalizeFirst}}">
          <div class="mt-2 pl-0 container-fluid">
            <es-settings-show [settings]="settings"></es-settings-show>
          </div>
        </mat-tab>
        <mat-tab label="{{'COMMON.UPDATES' | translate | capitalizeFirst}}">
          <div class="mt-2 pl-0 container-fluid">
            <es-settings-update [settings]="settings"></es-settings-update>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
