.language-flexcontainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.language-left-content {
  flex: 0 0 auto;
  height: 50px;
  width: 60px;

  img {
    width: 40px;
    margin: 5px;
  }
}

.language-right-content {
  flex: 1 1 auto;
}
