<div class="title-bar">
  {{ 'MENU.SERVER' | translate }}
</div>
<div class="content">
  <div class="row">
    <div class="col-12">
      <mat-card *ngIf="serverInfo$ | async as serverInfo">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-4 col-md-2 d-flex flex-column justify-content-start align-items-center">
              <img src="../../assets/images/emby.png" class="img-radius img-80 mb-4" alt="Emby logo">
            </div>
            <div class="col-sm-8 col-md-10">
                <h3 class="mb-2">{{ serverInfo.serverName }}</h3>
                <div class="row">
                  <div class="col-sm-6">
                    {{ 'COMMON.VERSION' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.version}}</h4>
                  </div>
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.HOSTOS' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.operatingSystem}} {{serverInfo.systemArchitecture}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.HTTPPORT' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.httpServerPortNumber}}</h4>
                  </div>
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.HTTPSPORT' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.httpsPortNumber}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.CACHEPATH' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.cachePath}}</h4>
                  </div>
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.LOGPATH' | translate }}
                    <h4 class="text-muted mb-3">{{serverInfo.logPath}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.LANADDRESS' | translate }}
                    <h4 class="text-muted mb-3">
                      <a target="_blank" href="{{serverInfo.localAddress}}">{{serverInfo.localAddress}}</a>
                    </h4>
                  </div>
                  <div class="col-sm-6">
                    {{ 'EMBYSERVER.WANADDRESS' | translate }}
                    <h4 class="text-muted mb-3">
                      <a target="_blank" href="{{serverInfo.wanAddress}}">{{serverInfo.wanAddress}}</a>
                    </h4>
                  </div>
                </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!--<h3>Paths</h3>
  programDataPath: {{serverInfo.programDataPath}}<br />
  itemsByNamePath: {{serverInfo.itemsByNamePath}}<br />
  internalMetadataPath: {{serverInfo.internalMetadataPath}}<br />
  transcodingTempPath: {{serverInfo.transcodingTempPath}}<br /><br /><br /><br />
  encoderLocationType: {{serverInfo.encoderLocationType}}<br />


  operatingSystemDisplayName: {{serverInfo.operatingSystemDisplayName}}<br />
  webSocketPortNumber: {{serverInfo.webSocketPortNumber}}<br />
  <br /><br />

  hasPendingRestart: {{serverInfo.hasPendingRestart}}<br />
  supportsLibraryMonitor: {{serverInfo.supportsLibraryMonitor}}<br />
  canSelfRestart: {{serverInfo.canSelfRestart}}<br />
  canSelfUpdate: {{serverInfo.canSelfUpdate}}<br />
  canLaunchWebBrowser: {{serverInfo.canLaunchWebBrowser}}<br />
  supportsHttps: {{serverInfo.supportsHttps}}<br />
  hasUpdateAvailable: {{serverInfo.hasUpdateAvailable}}<br />
  supportsAutoRunAtStartup: {{serverInfo.supportsAutoRunAtStartup}}-->
